config.env
__pycache__/*
userbot.db
userbot.session
userbot.session-journal
userbot/__pycache__/*
userbot/modules/__pycache__/*
userbot/modules/sql_helper/__pycache__/*
.progress
.vscode/*
bin/*
TG_BOT_TOKEN.session

# Directories
addons/
pyUltroid/
__pycache__/
venv/
node_modules/
glitch_me/
src/glitch-me
.idea/
.vscode/
temp/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.settings/
*.swf
*.air
*.ipa
*.apk
